body {
    background-color: lightblue;
    color: white;
}

.obox_header {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(50, 0, 80);
  width: 100%;
  padding: 20px 20px;
}
.navigation {
  list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
}

.navlink {
  display:inline-block;
}

.navlink a {
  display: block;
  color: rgb(50, 0, 80);
  text-align:center;
  padding:15px 15px;
  text-decoration: none
}

.navlink a:hover {
  background-color: rgb(180, 125, 225);
}

.my_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
}

.button_time {
  transition-duration: 0.2s;
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 20px;
}

.button_time:hover {
  background-color: #808080;
  color: white;
}


.column {
float: left;
width: 200px;
height: 250px;
padding: 10px;
}

.card {
border-style: solid;
border-color: black;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
padding: 0 16px;
}

.container::after, .row::after {
content: "";
clear: both;
display: table;
}

.button2 {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
}

.button2:hover {
background-color: #555;
}