<html>
<head>
    <title>Steins;Gate Cart</title>
    <link rel="stylesheet" type="text/css" href="cart.css"/>
</head>

<div class = "obox_header">
  <ul class="navigation">
      <li class="navlink"><a href="/">Home</a></li>
      <li class="navlink"><a href="/listings">Listings</a></li>
      <li class="navlink"><a href="/account">My Account</a></li>
      <li class="navlink"><a href="/shoppingcart">My Cart</a></li>

  </ul>
</div>

<h1 style="text-align:center">Steins;Gate Cart</h1>

<br/>
<div class="checkout_box">
  <h2>Total: ${{ price_total }}</h2>
  <form action="/checkout_pressed" id="checkout_form" method="post" enctype="multipart/form-data" style="margin:0; padding:0">
    <input type="submit" value="Purchase Items" style="margin:auto">
  </form>
</div>
<br/>
<br/>
<br/>
{% block listings %}
{% for line in cart_vals %}
  <div class="card" style="width:225px; height:450px">
    <img src="/cart/{{ line['Name'] }}.jpg" alt="{{ line['Name'] }}-image" style="width:200px; height:200px">
    <div class="container">
      <h2>{{ (line['Name'].replace('-',' ')).replace('~','') }}</h2>
      <p class="price">${{ line["Price"] }}</p>
      <p>{{ line['Description'] }}</p>
      <form action="/remove_cart" id="cart-form" method="post" enctype="multipart/form-data" style="margin: 0; padding: 0;">
        <input id="Item_ID" value="{{ line['Name'] }}" name="Item_ID" hidden>
        <input type="submit" value= "Remove">
    </form>
    </div>
</div>
{% endfor %}
{% endblock %}
<!-- <div class="checkout">
  <div class="total">
    <div class = 'combine'>
      <div>
        <div class="Subtotal">Sub-Total</div>
        <div class="items">2 items</div>
      </div>
      <div class="total-amount">$6.18</div>
    </div>
  </div> -->
</div>

</html>