<!DOCTYPE html>
<html>
    <head>
        <title>All Listings</title>
        <link rel="stylesheet" type="text/css" href="listings.css">
    </head>

    <div class = "obox_header">
        <ul class="navigation">
            <li class="navlink"><a href="/">Home</a></li>
            <li class="navlink"><a href="/listings">Listings</a></li>
            <li class="navlink"><a href="/auctions">Auctions</a></li>
            <li class="navlink"><a href="/account">My Account</a></li>
            <li class="navlink"><a href="/shoppingcart">My Cart</a></li>

        </ul>
    </div>

    <br/>
    <form action="/create-listing" id="listing-form" method="post" enctype="multipart/form-data" style="margin: 0; padding: 0;">
        <h2>List an Item for Sale!</h2>
        <h4>Fields with * are Required</h4>
        <br/>
        <label for="item-name">*Item Name: </label>
        <input id="item-name" type="text" name="Name" value = "">
        <label for="item-description">Description: </label>
        <input id="item-description" type="text" name="Description" value="">
        <label for="listing-price">*Price (No commas): $</label>
        <input id="item-price" type="text" name="Price" value="">
        <label for="item-image">*Image: </label>
        <input id="item-image" type="file" name="Image">
        <input type="submit" value="Post Listing">
    </form>

    <br/>

    {% block listings %}
    {% for line in listing_vals %}
    <div class="listing" style="width:225px; height:450px">
        <br>
        <img src="/listing/{{ line['Name'] }}.jpg" alt="{{ line['Name'] }}-image" style="width:200px; height:200px">
        <h2>{{ (line['Name'].replace('-',' ')).replace('~','') }}</h2>
        <p class="price">${{ line["Price"] }}</p>
        <p>{{ line['Description'] }}</p>
        <p><button>Add to Cart</button></p>
    </div>
    {% endfor %}
    {% endblock %}