<!DOCTYPE html>
<html>
    <head>
        <title>All Listings</title>
        <link rel="stylesheet" type="text/css" href="listings.css">
    </head>

    <div class = "obox_header">
        <ul class="navigation">
            <li class="navlink"><a href="/">Home</a></li>
            <li class="navlink"><a href="/listings">Listings</a></li>
            <li class="navlink"><a href="/auctions">Auctions</a></li>
            <li class="navlink"><a href="/create">Create Listing</a></li>
            <li class="navlink"><a href="/account">My Account</a></li>
        </ul>
    </div>

    <br/>

    <div class="list_block">
        <div class="listing">
            <br>
            <img src="/dog.jpg" alt="test-image" style="max-width:200px">
            <h2>TEST IMAGE</h2>
            <p class="price">$199.99</p>
            <p>This ugly motherfucker is a good boy</p>
            <p><button>Add to Cart</button></p>
        </div>
    </div>

</html>