*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.log_container{
    height: 100%;
    width: 100%;
    /* This sets the color of the background image */
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(backdrop.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;


}

/* The color of the box along with dimension of the box */
.form_box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgb(255, 255, 255);
    padding: 5px;
    overflow: hidden;
    box-shadow: 30px 30px #000000;
    

}

.button_box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    /* Color of the shadown on the log in and register */
    box-shadow: 0 0 20px 9px #dd19cd1f;
    border-radius: 30px;
}

.t_btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
/* Adding features to the Log In and Register Button */
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;   
    height: 100%;
    background: linear-gradient(to right, #ec38c5, #be12b0);
    border-radius: 30px;
    transition: .5s;

}

.input_group{
    top: 140px;
    position: absolute; 
    width: 280px;
    transition: 0.5s;
}

.input_field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;  
    outline:none;
    background: transparent;
}

.submit_btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ec38c5, #be12b0);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check_box{
    margin: 30px 10px 30px 0;
}

span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;

}

#login{
    left: 50px;

}

#register{
    left: 450px;

}

