<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ecom Deez Nutz</title>
        <link rel="stylesheet" type="text/css" href="/registerstyle.css">

    </head>
    <body>
        <div class="log_container">
            <div class="form_box">
                <div class="button_box">
                    <div id="btn"></div>
                    <button type="button" class="t_btn" onclick="register()">Register</button>
                    <a href="./login"><button type="button" class="t_btn" onclick="login()">Log In</button></a>
                    
                </div>
                <form action="/register" id="register-form" method="post" enctype="multipart/form-data">
                <!-- <form action="register" method = "POST" action ='/register' class="input_group"> -->
                    <!-- <label for="item-name">*Item Name: </label>
                    <input id="item-name" type="text" name="Name" value = ""> -->

                    <input id = "username" type="text" class="input_field" placeholder="Enter Username" name = "username" value="" required>
                    <!-- <input type="email" class="input_field" placeholder="Email ID" required>   -->
                    <input id = "password" type="text" class="input_field" placeholder="Enter Password" name = "password" value="" required>
                    <input type="checkbox" class="check_box"><span>I agree to the Tearms and Conditions</span>
                    <button type="submit" class="submit_btn" value = "Register User">Register</button>
                </form>

                <!-- <form action="/register" id="register-form" method="post" enctype="multipart/form-data">


                    <label for="register-form-username">Username: </label>
                    <textarea id="register-form-username" name="comment" cols="20" rows="1"></textarea>
                    <br/>
                    
                    <label for="register-form-password">Password: </label>
                    <textarea id="register-form-password" name="comment" cols="20" rows="1"></textarea>
                    <input type="submit" value="Register">
                 </form> -->
<!--                 
                <form id="login" class="input_group">
                    <input type="text" class="input_field" placeholder="User ID" required>
                    <input type="text" class="input_field" placeholder="Enter Password" required>
                    <input type="checkbox" class="check_box"><span>Remember Password</span>
                    <button type="button" class="submit_btn">Log In</button>
                </form> -->

            </div>

        </div>
    </body>
    <script>
        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var z = document.getElementById("btn");

        function register(){
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
        }

        function login(){
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0";
}
    </script>
<!-- 
    {% block listings %}
    {% for line in listing_vals %}
    <div class="register" style="width:225px; height:450px">
        <br>
        <img src="/listing/{{ line['Name'] }}.jpg" alt="{{ line['Name'] }}-image" style="width:200px; height:200px">
        <h2>{{ (line['Name'].replace('-',' ')).replace('~','') }}</h2>
        <p class="price">${{ line["Price"] }}</p>
        <p>{{ line['Description'] }}</p>
        <p><button>Add to Cart</button></p>
    </div>
    {% endfor %}
    {% endblock %} -->
</html>