<html>
<head>
    <title>Steins;Gate Auctions</title>
    <link rel="stylesheet" type="text/css" href="auction.css"/>
</head>

<h1 style="text-align:center">Steins;Gate Auctions</h1>
<button class="button_time">Chat with other auctioneers!</button>
<body onload="welcome();">
    <script src="../functions.js"></script>
</body>

<form action="/image-upload" id="image-form" method="post" enctype="multipart/form-data" style="text-align:center; border-width:2px; border-style:solid; border-color:white; padding: 1em;">
    <h3>
        Place an item up for auction!
    </h3>
    <br/>
    <label for="form-file">Image: </label>
    <input id="form-file" type="file" name="upload">
    <label for="chat-comment">Price: </label>
    <input id="chat-comment" type="text" name="comment" value = "$">
    <button onclick="sendMessage()">Auction Item</button>
</form>



<div class="column">
<div class="card">
  <img src="/okabe.jpg" alt="okabe" style="width:100%">
  <div class="container">
    <h2>Okabe</h2>
    <p>Highest Bid: $2100</p>
    <input id="chat-comment" type="text" name="comment" value = "$">
    <p><button class="button2">Place Bid</button></p>
  </div>
</div>
</div>

<div class="column">
<div class="card">
  <img src="images/kurisu.jpg" alt="kurisu" style="width:100%">
  <div class="container">
    <h2>Kurisu</h2>
    <p>Highest Bid: $Priceless</p>
    <input id="chat-comment" type="text" name="comment" value = "$">
    <p><button class="button2">Place Bid</button></p>
  </div>
</div>
</div>

</html>