<html>
<head>
    <title>Steins;Gate Auctions</title>
    <link rel="stylesheet" type="text/css" href="auction.css"/>
</head>

<h1 style="text-align:center">Steins;Gate Auctions</h1>
<button class="button_time">Chat with other auctioneers!</button>
<body onload="welcome();">
    <script src="../functions.js"></script>
</body>

<form action="/image-upload" id="image-form" method="post" enctype="multipart/form-data" style="text-align:center; border-width:2px; border-style:solid; border-color:white; padding: 1em;">
    <h3>
        Place an item up for auction!
    </h3>
    <br/>
    <label for="form-file">Image: </label>
    <input id="form-file" type="file" name="upload">
    <label for="chat-comment">Price: </label>
    <input id="chat-comment" type="text" name="comment">
    <input type="submit" value="Post">
</form>
</html>