body{
    background-image: url("backdrop.jpg");
    background-attachment: fixed;
}

.obox_header {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(50, 0, 80);
    width: 100%;
    padding: 20px 20px;
}

.navigation {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
}

.navlink {
    display:inline-block;
}

.navlink a {
    display: block;
    color: rgb(50, 0, 80);
    text-align:center;
    padding:15px 15px;
    text-decoration: none
}

.navlink a:hover {
    background-color: rgb(180, 125, 225);
}

.dividing_header {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(50, 0, 80);
    width: 100%;
    padding: 20px 20px;
    text-align:center;
}

.list_block {
    margin:25px;
    width: 100%;
}

.listing {
    margin:25px;
    border: 2px solid;
    background-color: white;
    color:black;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.25);
    max-width: 20%;
    text-align: center;
    font-family: arial;
    display:inline-block;
}

.listing button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.listing button:hover {
    opacity: 0.7;
}

.price {
    color: black;
    font-size: 22px;
}
  
.search_bar input[type = text] {
    padding: 5px;
    font-size: 12px;
    border: 1px solid grey;
    width: 20%;
    background: #f1f1f1;
    position: relative; left:1100px; top:2px;;
  }

  .search_bar button{
    position: relative; left:1100px; top:2px;;

  }
  