<!DOCTYPE html>
<html>
    <head>
        <title>Steins;Gate</title>
        <link rel="stylesheet" type="text/css" href="home.css">
    </head>

    <!--Logo, search bar, cart/login-->

    <!--Site Navigation-->
    <div class = "obox_header">
        <img src="/logo.png" alt="steins gate logo" style="display:inline-block; max-width:10%; margin:auto;">
        <!--WAITING ON LOGIN/MYCART TO GO HERE-->
        <br/>
        <ul class="navigation">
            <li class="navlink"><a href="/listings">Listings</a></li>
            <li class="navlink"><a href="/auctions">Auctions</a></li>
            <li class="navlink"><a href="/account">My Account</a></li>
        </ul>
    </div>

    <!--Newest Listings-->
    <br/>
    <h1 class="dividing_header">Featured Listings</h1>
    <br/>
    <!--WILL GO IN A LOOP WHEN WE FINISH THE HTML FORMATTER-->
    {% block listings %}
    {% for line in listing_vals %}
    <div class="listing" style="width:225px; height:450px">
        <br>
        <img src="/listing/{{ line['Name'] }}.jpg" alt="{{ line['Name'] }}-image" style="width:200px; height:200px">
        <h2>{{ (line['Name'].replace('-',' ')).replace('~','') }}</h2>
        <p class="price">${{ line["Price"] }}</p>
        <p>{{ line['Description'] }}</p>
        <p><button>Add to Cart</button></p>
    </div>
    {% endfor %}
    {% endblock %}
</html>