<!DOCTYPE html>
<html>
    <head>
        <title>Steins;Gate</title>
        <link rel="stylesheet" type="text/css" href="home.css">
    </head>
    <!--Logo, search bar, cart/login-->
    <h1>TEST TEXT</h1>
    <!--NEED TO DESIGN A LOGO-->
    <!--WAITING ON SEARCH BAR TO GO HERE-->
    <!--NEED TO DO RESEARCH ON STATE TO FIGURE OUT HOW TO DISPLAY A LOGIN BUTTON VS MY CART BUTTON-->
    <!--Navigation links-->
    <br/>
    <!--Newest Listings-->
    <h1>CURRENT LISTINGS</h1>
    <br/>
    <!--WILL GO IN A LOOP WHEN WE FINISH THE HTML FORMATTER-->
    <div class="list_block">
        <div class="listing">
            <br>
            <img src="/dog.jpg" alt="test-image" style="max-width:200px">
            <h2>TEST IMAGE</h2>
            <p class="price">$199.99</p>
            <p>This ugly motherfucker is a good boy</p>
            <p><button>Add to Cart</button></p>
        </div>
    </div>
    <br/>
    <!--Auctions Ending Soon-->
    <h1>CURRENT AUCTIONS</h1>
    <br/>  
    <!--WILL GO IN A LOOP WHEN WE FINISH THE HTML FORMATTER-->
    <div class="list_block">
        <div class="listing">
            <br>
            <img src="/dog.jpg" alt="test-image" style="max-width:200px">
            <h2>TEST IMAGE</h2>
            <p class="price">$199.99</p>
            <p>This ugly motherfucker is a good boy</p>
            <p><button>Add to Cart</button></p>
        </div>
    </div>
    
</html>