<!DOCTYPE html>
<html>
    <head>
        <title>Steins;Gate</title>
    </head>
    <!--Logo, search bar, cart/login-->
    <h1>TEST TEXT</h1>
    <!--Navigation links-->
    <body>
        <ul id="navigate"><!--WILL NEED TO BE FORMATTED IN CSS TO NOT LOOK LIKE A LIST-->
            <li><a href="#">LINK</a></li>
            <li><a href="#">LINK</a></li>
            <li><a href="#">LINK</a></li>
            <li><a href="#">LINK</a></li>
            <li><a href="#">LINK</a></li>
            <li><a href="#">LINK</a></li>
        </ul> 
    </body>
    <!--Newest items for sale/reccomended items/popular items by category/etc-->
</html>