body{
    background-image: url("backdrop.jpg");
    background-attachment: fixed;
}

.obox_header {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(50, 0, 80);
    width: 100%;
    padding: 20px 20px;
}

.navigation {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
}

.navlink {
    display:inline-block;
}

.navlink a {
    display: block;
    color: rgb(50, 0, 80);
    text-align:center;
    padding:15px 15px;
    text-decoration: none
}

.navlink a:hover {
    background-color: rgb(180, 125, 225);
}